.App {
  text-align: center;
  
}

.App-header {
  background-color:rgb(8, 53, 121);
  font-size: 20px;
  min-height: 9mm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header a {
  color: rgb(255, 255, 255);
}




.Sidebar {
  box-sizing: border-box;
  width: 20%;
  display: inline-block;
  float: left;
  text-align: left;
  padding: 5mm;
  padding-bottom: 2mm;
  min-height: 80mm;
}

.Main {
  box-sizing: border-box;
  padding: 2mm;
  padding-left: 15mm;
  width: 50%;
  display: inline-block;
  float: left;
  text-align: left;
}

.Main ul {
  list-style: none;
  padding: 0;
}

.Note {
  display: block;
  box-sizing: border-box;
  padding: 4mm;
  margin-bottom: .5mm;
  border: 1px solid black;
}

.folder.selected {
  color:blue;
  font-weight: bold;
}