ul {
    list-style-type: none;
    margin: 0px, 0;
    padding: 0;

    /* text-align: left; */
}


.NoteListNav_folder{
    color: rgb(42, 89, 190);
    font: bold;
    text-decoration: none;


  }

.Sidebar {
    text-align: left;
    

}

h2 {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.878);
}

.Links {
    height: 35px;
    width: 80px;
    background-color: #5a80b8ad;    
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    color: white;
    /* margin: 15px; */
    padding: 5px;
    text-decoration: none;

}
